@media (max-width: 400px){
    body{
        display: flex;
        flex-direction: column;
    }
    #imgTopFundo{
        width: 100%;
        height: 350px;
        background-size: 100% 350px;
        
    }
    #imgTopFundo p{
        font-size: 11pt;
        margin-top: 100px;
    }
    #imgTopFundo a{
        width: 160px;
        height: 40px;
        margin-left: 120px;
        font-size: 8pt;
    }
    #imgTopFundo H2{
        width: 350px;
        margin-left: 25px;
        font-size: 18pt;
    }
    .navbar-brand{
        width: 100px;
        height: 50px;
        font-size: 10pt;
    }
    .navbar-brand p{
        float: left;
    }
    .sessao{
        width: 100%;
        height: 1150px;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .img1 img{
        width: 100%;
    }
    .img1 p{
        margin-top: -5px;
        font-size: 9pt;
        font-weight: bolder;
        color: brown;
    }
    .img1 h4{
        border-top: 2px solid brown;
        border-top-left-radius: 20%;
        font-weight: bolder;
        font-style: italic;
        color: brown;
    }
    .contornoImg img {
        max-width: 100%;
        -moz-transition: none;
        -webkit-transition: none;
        transition: none;
      }
      .contornoImg:hover img {
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
      }
    

    .sobremim{
        background-color: #44593A;
        height: 580px;
        width: 86%;
        margin-left: 7%;
        position: absolute;
        margin-top: 1400px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: none;
    }
    .imgPerfil{
        background-color: #fff;
        width: 150px;
        margin-top: -70px;
        height: 200px !important;
     }
     .bio{
        width: 300px;
        padding: none;
        font-size: 11pt;
        text-align: justify;
     }
     .bio h3{
        text-align: center;
     }
     .contato{
        width: 100%;
        height: 650px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .contatoRede{
        width: 80%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .formulario{
        width: 80%;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 80px;
        padding-top: 8%;
        padding-bottom: 1%;
        background-color: #44593A;
        color: #fff;
        font-style: italic;
        font-size: 10pt;
    }

    /*pagina portifolio*/
    .sessaoPortifolio{
        margin-top: 250px;
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 90%;
        margin-top: 65%;
        max-width: 1050px;
        z-index: 3;
    }
    /* Estilo do botão de download */
    .download-btn {
        display: block;
        margin: -60px auto;
        position: absolute;
        text-align: center;
        background-color: #008CBA;
        margin-left: 8%;
        z-index: 4;
        padding: 5px 10px;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
    }
}